body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #e0f7fa;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 5px;
    color: #004d40;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 8px;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.title {
    font-size: 20px;
    color: #004d40;
    font-weight: bold;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-wrapper:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.img-button {
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border: 3px solid #004d40;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative; /* Permite agregar elementos superpuestos */
}

.img-button:active {
    transform: scale(0.95);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.img-button::before {
    content: url('Imagenes/play-icon.png'); /* Ícono de play */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px; /* Tamaño ajustable del ícono */
    height: 50px; /* Tamaño ajustable del ícono */
}

.full-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.full-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.full-img-button {
    width: 100%;
    height: auto;
    border: 3px solid #004d40;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.full-img-button:active {
    transform: scale(0.95);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.full-img-button::before {
    content: url('Imagenes/play-icon.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px; /* Tamaño del ícono para las imágenes grandes */
    height: 60px;
}

.full-title-wrapper {
    margin-bottom: 10px;
}

.full-title-wrapper .title {
    font-size: 24px;
    color: #004d40;
    font-weight: bold;
}

.full-width-button {
    width: 500px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.video-container {
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
